body {
    background-color:#8B1874;
    margin:0px;
}

#home-click-logo{
    /* This is the logo icon that navigates/returns you to the top of the home page when clicked. */
    height:180px;
    width:auto;
}

.head-float {
display: flex;
justify-content: center;
font-size: 24px;
height:200px;
width:100%;
background-color:#F79540; 
/* Line 19-21 fixes this nav-bar div to hover over everthing else on the site while user is scrolling */ 
position: fixed;
top: 0;
z-index: 1030;
}

.main-cont-parent{
    margin-top:200px;
    /*IMPORTANT FOR EDIT: top margin has to be the same px amount as the head-float height. */
}

.intro-extro-cont{
    display: flex;
    justify-content: center;
    font-size: 24px;
    /*height:200px;*/
    width:auto;
    background-color:#B71375;
    /* Line 38-40 this is to seperate the two child divs within the parent container div into two rows */
    display:flex;
    flex-direction:row; 
    flex-wrap:wrap;
    text-align:center;
    align-items:center;
    
}

.extro-desc{
    width:auto;
    
}


.intro-desc{
    width:auto;
    
}

.drinks-cont{
    display: flex;
    justify-content: center;
    font-size: 24px;
    width:auto;
    background-color:rgb(142, 136, 54); 
}

.wtm-cont{
    display: flex;
    justify-content: center;
    flex-direction:column;
    text-align:center;
    align-items:center;
    font-size: 24px;
    width:auto;
    background-color:#F79540;   
}
/* WTM SECTION CSS STARTS HERE */
#wtmTitle{
    height:auto;
    width:100%;
    display:flex;
    align-items:flex-start;
    text-align:center;
    justify-content:center;
    align-items:center;
    align-items:flex-start;
    
    
}
#wtmHeader{
    display: flex;
    justify-content: center;
    font-size: 24px;
    width:100%;
     display:flex;
     flex-direction:row; 
     flex-wrap:wrap;
     align-items:flex-start;
     text-align:center;
     margin-bottom:50px;
}

.genHolder{
    display: flex;
    justify-content: center;
    font-size: 24px;
    width:100%;
     /* Line 74-76 this is to seperate the two child divs within the parent container div into two rows */
     display:flex;
     flex-direction:row; 
     flex-wrap:wrap;
     align-items:flex-end;
     text-align:center;
   
}

.introGEN {
    width: 50%;
}

.extroGEN {
    width:50%;
    
}
/* WTM SECTION CSS ENDS HERE */

.vibe-check-cont{
    display: flex;
    justify-content: center;
    font-size: 24px;
    /*height:200px;*/
    width:auto;
    background-color:rgb(121, 113, 13); 
}

.footer{
    display: flex;
    justify-content: center;
    font-size: 24px;
    /*height:100px;*/
    width:auto;
    background-color:rgb(216, 87, 211); 
}